<!--The content below is only a placeholder and can be replaced.-->
<button (click)="getPosts()">getPosts</button>
<button (click)="getPost()">getPost</button>
<button (click)="getPostByUser()">getPostByUser</button>
<button (click)="addPost()">addPost</button>
<button (click)="updatePost()">updatePost</button>
<button (click)="deletePost()">deletePost</button>
<button (click)="changePost()">changePost</button>

<div style="text-align:center">
  <app-test1 [write]="writer" (goNow)="having($event)"></app-test1>
  <app-list></app-list>
</div>

<div style="text-align:center">
  <app-clicker></app-clicker>
  Suma kliknięć {{allClicks}}
  <app-clicker2></app-clicker2>
</div>
